<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>购物车</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/site.css}" href="../../static/css/site.css"/>



    <link th:href="@{/AmazeUI-2.4.2/assets/css/amazeui.css}" href="../../static/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/AmazeUI-2.4.2/assets/css/demo.css}" href="../../static/AmazeUI-2.4.2/assets/css/demo.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/AmazeUI-2.4.2/assets/css/cartstyle.css}" href="../../static/AmazeUI-2.4.2/assets/css/cartstyle.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/AmazeUI-2.4.2/assets/css/optstyle.css}" href="../../static/AmazeUI-2.4.2/assets/css/optstyle.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript"  th:href="@{/js/jquery-2.1.4.js}"  src="../../static/js/jquery-2.1.4.js"></script>

</head>

<body>


<!--顶部导航条 -->

<div style="margin-left: -245px;background-color:rgb(51,51,51);height:40px " >

    <div class="header">
        <div class="nav clear">
            <div class="container">
                <div class="left">
                    <ul>
                        <li><a href="index.html" th:href="@{/}">鲨鲨商城</a></li>
                        <li><a href="">tym</a></li>
                        <li><a href="">鲨东</a></li>
                        <li><a href="">鲨多多</a></li>
                        <li><a href="">鲨宝</a></li>
                        <li><a href="">app</a></li>
                        <li><a href="">智能生活</a></li>
                    </ul>
                </div>
                <div class="right">

                    <ul th:if="${session.user != null}">
                        <li class="user">
                            <a href="javascript:;">
                                <span th:text="${session.user.usName}">用户名</span>
                                <i class="mi-icon icon-down"></i>
                            </a>
                            <div class="user-menu">
                                <a href="">个人中心</a>
                                <a href="">评价晒单</a>
                                <a href="">我的喜欢</a>
                                <a href="">鲨鲨账户</a>
                                <a th:href="@{/user/logout}">退出登录</a>
                            </div>
                        </li>

                        <li><a href="">消息通知</a></li>
                        <li><a href="">我的订单</a></li>
                        <li>
                        <li class="cart dropdown">
                            <a th:href="@{user/cart}">
                                <i class="mi-icon icon-cart"></i>
                                购物车
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="site-header">
            <div class="container clear">
                <div class="logo left">
                    <a href="index.html"><img th:src="@{/img/logo-shark.png}"  src="../../static/img/logo-shark.png" ></a>
                </div>
                <div class="menu left">
                    <ul class="clear">
                        <li><a href="">Xiaomi手机</a></li>
                        <li><a href="">Redmi 红米</a></li>
                        <li><a href="">电视</a></li>
                        <li><a href="">笔记本</a></li>
                        <li><a href="">平板</a></li>
                        <li><a href="">家电</a></li>
                        <li><a href="">路由器</a></li>
                        <li><a href="">智能硬件</a></li>
                        <li><a href="">服务</a></li>
                        <li><a href="">社区</a></li>
                    </ul>
                </div>
                <div class="search right">
                    <input type="text" id="key" class="search-key left"/>
                    <button type="button"><i class="mi-icon icon-search left"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>







<!--购物车 -->
<div class="concent">
    <div id="cartTable">
        <div class="cart-table-th">
            <div class="wp">
                <div class="th th-chk">

                </div>
                <div class="th th-item">
                    <div class="td-inner">商品信息</div>
                </div>
                <div class="th th-price">
                    <div class="td-inner">单价</div>
                </div>
                <div class="th th-amount">
                    <div class="td-inner">数量</div>
                </div>
                <div class="th th-sum">
                    <div class="td-inner">金额</div>
                </div>
                <div class="th th-op">
                    <div class="td-inner">操作</div>
                </div>
            </div>
        </div>
        <div class="clear"></div>

        <tr class="item-list">
            <div class="bundle  bundle-last ">

                <div class="clear"></div>

                <div class="bundle-main" th:each="c:${session.carDetail}">
                    <ul class="item-content clearfix">
                        <!-- 选择框-->
                        <li class="td td-chk">
                            <div class="cart-checkbox ">
                                <input class="check" type="checkbox">
                            </div>
                        </li>
                        <!--图片-->
                        <li class="td td-item">
                            <div class="item-pic">
                                <img src="../../static/img/brick-box-goods-2.webp" width="100%" height="100%" class="itempic J_ItemImg"></a>
                            </div>
                            <!--名称-->
                            <div class="item-info">
                                <div class="item-basic-info">
                                    <br>
                                    <a href="#" target="_blank" th:text="${c.getName()}"  >商品名</a>
                                </div>
                            </div>
                        </li>
                        <!--规格-->
                        <li class="td td-info">
                            <div class="item-props item-props-can">
                                <span class="sku-line" th:text="${c.getComment()}">描述</span>
                            </div>
                        </li>
                        <!--单价-->
                        <li class="td td-price">
                            <div class="item-price price-promo-promo">
                                    <div class="price-line">
                                        <em class="J_Price price-now" th:text="${c.getPrice()}">39.00</em>
                                    </div>
                            </div>
                        </li>
                        <!--	数量-->
                        <li class="td td-amount">
                            <div class="amount-wrapper ">
                                        <input class="min am-btn" name="" type="button" value="-"/>
                                        <input class="text_box" name="" type="text" th:value="${c.getNum()}" value="1" style="width:30px;"/>
                                        <input class="add am-btn" name="" type="button" value="+"/>
                            </div>
                        </li>
                        <!--总价-->
                        <li class="td td-sum">
                            <div class="td-inner">
                                <em tabindex="0" class="J_ItemSum number" th:with="price = ${c.getPrice()}*${c.getNum()}"  th:text="${price}">117.00</em>
                            </div>
                        </li>
                        <!--操作-->

                        <li class="td td-op">
                            <div class="td-inner">
                                <a href="javascript:;" data-point-url="#" class="delete">
                                    删除
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </tr>
        <div class="clear"></div>
    </div>


    <div class="clear"></div>

    <div class="float-bar-wrapper">
        <div id="J_SelectAll2" class="select-all J_SelectAll">
            <div class="cart-checkbox">
                <input class="check-all check" id="J_SelectAllCbx2" name="select-all" value="true" type="checkbox">
                <label for="J_SelectAllCbx2"></label>
            </div>
            <span>全选</span>
        </div>
        <div class="operations">
            <a href="#" hidefocus="true" class="deleteAll">删除</a>
            <a href="#" hidefocus="true" class="J_BatchFav">移入收藏夹</a>
        </div>
        <div class="float-bar-right">
            <div class="amount-sum">
                <span class="txt">已选商品</span>
                <em id="J_SelectedItemsCount">0</em><span class="txt">件</span>
                <div class="arrow-box">
                    <span class="selected-items-arrow"></span>
                    <span class="arrow"></span>
                </div>
            </div>
            <div class="price-sum">
                <span class="txt">合计:</span>
                <strong class="price">¥<em id="J_Total">0.00</em></strong>
            </div>
            <div class="btn-area">
                <a href="pay.html" id="J_Go" class="submit-btn submit-btn-disabled" aria-label="请注意如果没有选择宝贝，将无法结算">
                    <span>结&nbsp;算</span></a>
            </div>
        </div>

    </div>


    <!--操作页面-->

    <div class="theme-popover-mask"></div>

    <div class="theme-popover">
        <div class="theme-span"></div>

        <div class="theme-poptit h-title">
            <a href="javascript:;" title="关闭" class="close">×</a>
        </div>

        <div class="theme-popbod dform">
            <form class="theme-signin" name="loginform" action="" method="post">

                <div class="theme-signin-left">


                    <div class="theme-options">
                        <div class="cart-title number">数量</div>
                        <dd>
                            <input class="min am-btn am-btn-default" name="" type="button" value="-"/>
                            <input class="text_box" name="" type="text" value="1" style="width:30px;"/>
                            <input class="add am-btn am-btn-default" name="" type="button" value="+"/>
                            <span class="tb-hidden">库存<span class="stock">1000</span>件</span>
                        </dd>

                    </div>
                    <div class="clear"></div>
                    <div class="btn-op">
                        <div class="btn am-btn am-btn-warning">确认</div>
                        <div class="btn close am-btn am-btn-warning">取消</div>
                    </div>

                </div>
                <div class="theme-signin-right">
                    <div class="img-info">
                        <img src="images/kouhong.jpg_80x80.jpg"/>
                    </div>
                    <div class="text-info">
                        <span class="J_Price price-now">¥39.00</span>
                        <span id="Stock" class="tb-hidden">库存<span class="stock">1000</span>件</span>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <!--引导 -->
    <div class="navCir">
        <li><a href="home.html"><i class="am-icon-home "></i>首页</a></li>
        <li><a href="sort.html"><i class="am-icon-list"></i>分类</a></li>
        <li class="active"><a href="cart.html"><i class="am-icon-shopping-basket"></i>购物车</a></li>
        <li><a href="person/index.html"><i class="am-icon-user"></i>我的</a></li>
    </div>
</div>
</body>

</html>