<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/site.css}" href="../../static/css/site.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" href="../../static/css/login.css"/>
</head>
<body>
<div class="left">
    <img src="../img/login_bg.jpg"/>
</div>
<div class="right">
    <div class="header clear">
        <div class="logo">
            <a href="">
                <img src="../img/logo-shark.png">
                <span>鲨宝账号</span>
            </a>
        </div>

        <div class="nav">
            <ul>
                <li><a href="">鲨宝帐号</a></li>
                <li><a href="">用户协议</a></li>
                <li><a href="">隐私政策</a></li>
                <li><a href="">帮助中心</a></li>
            </ul>
        </div>
    </div>

    <form class="form" method="post">
        <h2><a class="active" href="login.html"
               th:href="@{/user/login}">登录</a>
            <a href="reg.html" th:href="@{/user/reg}">注册</a></h2>
        <input type="text" name="usUsername" placeholder="邮箱/手机号码/小米ID"/>
        <input type="password" name="usPassword" placeholder="密码"/>
        <div class="error" th:text="${error}"></div>
        <input type="submit" value="登录"/>
        <div class="link clear">
            <a href="" class="left">忘记密码?</a>
            <a href="" class="right">手机号登录</a>
        </div>

        <div class="other">
            <h2>其它登录方式</h2>
            <div class="type">
                <i class="mi-icon icon-wechat"></i>
                <i class="mi-icon icon-qq"></i>
                <i class="mi-icon icon-weibo"></i>
            </div>
        </div>
    </form>

</div>
</body>
</html>
